<div>
    <h1>Admin Dashboard</h1>
    <p>Welcome to the Admin Dashboard!</p>
    <div>
        <a href="@Url.Action("RegisterSupportAgent", "SupportAgent", new { area = "Admin" })">Register</a>
    </div>
</div>

